body {
  min-height: 100vh;
  position: relative;
}

.popup-auth-error {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  max-width: 300px;
  margin: 0 auto;
  display: none;
}

.close-poup:hover {
  cursor: pointer;
}
